html(lang="en")
  head
    title GigTag Moderation
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', type='text/css', href='/public/mod_style.css')
    script(type="text/javascript"). script(type='text/javascript').
      $( document ).ready(function() {
        var socket = io.connect();
        socket.emit('create','#{tag}'.toLowerCase());
        socket.on('tweet', function (data) {
          if($('.selected_tweet')[0]){
            $('#tweet_list').append('<div class="tweet" data-tuser="'+data.user.screen_name+'" data-ttext="'+data.text+'">@' + data.user.screen_name + ": " + data.text + '</div>');
          }
          else{
            $('#tweet_list').append('<div class="selected_tweet" data-tuser="'+data.user.screen_name+'" data-ttext="'+data.text+'">@' + data.user.screen_name + ": " + data.text + '</div>');
          }
        });
        $(document).on('click','.approve',function(){

        });
        $(document).on('click','.deny',function(){
          $(this).parent().remove();
        });

        $('#approve').click(function(){
          //do something to save tweet
          var $tweet = $(".selected_tweet");
          var name = $tweet.data('tuser');
          var text = $tweet.data('ttext');
          socket.emit('moderate',{'user':name,'text':text,'tag':'#{tag}'});
          scroll_tweets();
        });

        $('#deny').click(function(){
          //do something to delete tweet
          scroll_tweets();
        });

        function scroll_tweets() {
          var $tweet = $(".selected_tweet");
          $tweet.slideUp('fast',function(){
            $('.selected_tweet').detach();
            $(".tweet").first().removeClass("tweet").addClass("selected_tweet");
          });
          //$(".selected_tweet").first().detach();
        }
      });
  body
    div
      img#title_img(src='/public/gigtag_logo1.png')
    #social_feed
      #sf_title Incoming Social Media
      #tweet_list
    #yes_no
      img.button(id='deny' src='/public/x.png')
      img.button(id='approve' src='/public/check.png')
    #footer
      | Made by the #GigTag Team, CSC 480 Spring 2014
      br
      br
      a(href='') GigTag Home
    #nothing