html(lang="en")
  head
  title='GigTag Moderation'
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
  //link(rel="stylesheet" type="text/css" href="mod_style.css")
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript").
    $( document ).ready(function() {
      var socket = io.connect();
      socket.emit('create','#{tag}'.toLowerCase());
      socket.on('tweet', function (data) {
        $('#tweets').prepend('<p id="tweet"><i class="fa fa-check" data-tuser="'+data.user.screen_name+'" data-ttext="'+data.text+'"></i><i class="fa fa-times"></i> <b>@' + data.user.screen_name + ":</b> " + '('+ data.id + ')' +data.text + '</p>');
      });
      $(document).on('click','.fa-check',function(){
        var name = $(this).data('tuser');
        var text = $(this).data('ttext');
        socket.emit('moderate',{'user':name,'text':text,'tag':'#{tag}'});
      });
      $(document).on('click','.fa-times',function(){
        $(this).parent().remove();
      });
    });
  div(id="tweets")