doctype html
html(lang="en")
  head
    title=tag
  body
    link(rel="stylesheet" type="text/css" href="/public/style.css")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/socket.io/socket.io.js")
    h1.
      ##{tag}
    p(id="tags")
    canvas(id="scene")
    script(src="/public/shape.js")
    script(type="text/javascript").
      $( document ).ready(function() {
        var socket = io.connect();
        socket.emit('create','#{tag}'.toLowerCase());
        socket.on('moderatedTweet', function (data) {
          text = "@" + data.user + ": " + data.text;
          //$('#tweets').prepend('<b>' + data.user.screen_name + ":</b> " + data.text + '<br>');
        });
        socket.on('tags', function (data) {
          $('#tags').text(data.tags.toString());
        });
      });
    <!--div(id="tweets")-->